flask 
flask-sqlalchemy==2.4.1
SQLAlchemy==1.3.22
flask-login 
flask-admin
pytz
Flask-Migrate==2.6.0
gunicorn
gevent==21.1.2
Flask-SocketIO==4.3.2
Flask-Session==0.3.2
eventlet==0.24.1
gevent-socketio