{% extends "base.html" %}
{% block head %}
<title>My Account</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}
{% block body %}
{% extends "includes/nav.html" %}
<div class="py-4">
   <div class="container">
      <div class="row">
         <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <div class="box shadow-sm border rounded bg-white mb-3 share-post">
             <!-- post form -->
        <form method="post" action="/home/new" enctype="multipart/form-data">
          <div class="box shadow-sm border rounded bg-white">
            
    
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="p-3 d-flex align-items-center w-100" href="#">
            <div class="dropdown-list-image mr-3">
            </div>
            <div class="w-100">
            <textarea placeholder="Share Something" type="text" class="form-control border-0 p-0 shadow-none" rows="4" name="content"></textarea>
            </div>
            </div>
            </div>
  
               
            <div class="border-top p-3 d-flex align-items-center">
            <div class="choose_file">
                <input name="media" type="file" >
              </div>
  
            <div class="flex-shrink-1">
            <button class="btn btn-primary btn-sm btn btn-success" type="submit" name="post">Share</button>
            </div>
            </div>
            </div>
          </form>
              
            </div>
  
            {% for post in posts %}
    
            <div class="box mb-3 shadow-sm border rounded bg-white">
               <div class="p-3 d-flex align-items-center border-bottom">
               
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="{{post.profile_pic}}" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">{{post.author}}</div>
                     <div class="small text-gray-500">@{{post.username}}</div>
                  </div>
                  <span class="ml-auto small">Posted On {{post.date}}</span>
               </div>
               <div class="p-3 border-bottom">
                {% if "media" in post.content %}
                {% set media1 = post.content.split(',') %}
                {% if media1[2] %}
                <p>
                  <embed src="{{media1[1]}}" width="100%" height="100%"><br>
                  <b>{{media1[2]}}</b></p>
                  {% else %}
                <p><embed src="{{media1[1]}}" width="100%" height="100%"><br></p>
                  {% endif %}
                {% else %}
                  <p>
                    <b>{{post.content}}</b>
                    </p>
                  {% endif %}
                </div>
                
            </div>
            {% endfor %}
<!-- test post -->
            <div class="box mb-3 shadow-sm border rounded bg-white">
              <div class="p-3 d-flex align-items-center border-bottom">
                 <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="img/p6.png" alt="">
                    <div class="status-indicator bg-success"></div>
                 </div>
                 <div class="font-weight-bold">
                    <div class="text-truncate">USER PLACEHOLDER</div>
                    <div class="small text-gray-500">USERNAME_PLACEHOLDER</div>
                 </div>
                 <span class="ml-auto small">TIME_PLACEHOLDER</span>
              </div>
              <div class="p-3 border-bottom post-body">
                 <p>THESE ARE WORDS</p>
                 <img src="img/post1.png" class="img-fluid" alt="Responsive image">
              </div>
       
              <div class="p-3 d-flex align-items-top border-bottom post-comment">
                 <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="img/p7.png" alt="">
                    <div class="status-indicator bg-success"></div>
                 </div>
                 <div class="font-weight-bold">
                    <div class="text-truncate">COMMENT_USERNAME <span class="float-right small">COMMENT_TIME</span></div>
                    <div class="small text-gray-500">COMMENT BODY</div>
                 </div>
              </div>
              <div class="p-3">
                 <textarea placeholder="Add Comment..." class="form-control border-0 p-0 shadow-none" rows="1"></textarea>
              </div>
           </div>
           <!-- test post ends-->



         </main>
         <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
               <div class="py-4 px-3 border-bottom">
                  <img src="{{current_user.profile_pic}}" class="img-fluid mt-2 rounded-circle" alt="USER PIC">
                  <h5 class="font-weight-bold text-dark mb-1 mt-4">{{current_user.firstName}} {{current_user.lastName}}</h5>
                  <p class="mb-0 text-muted">@{{current_user.username}}</p>
                  <p class="mb-0 text-muted">{{current_user.about_me}}</p>
                  <p class="mb-0 text-muted">{{current_user.location}}</p>
               
               </div>
               
               <div class="overflow-hidden border-top">
                {% if current_user.isprivate == 1 %}
                <p><b>Your Account is Private!</b></p>
                {% endif %}
               
                  <a class="font-weight-bold p-3 d-block" data-toggle="modal" data-target="#editProfile" href="/my-account"> Edit my Profile </a>
        
          
 <!-- Edit Profile Modal -->
 <div class="modal fade" id="editProfile" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form action="/my-account/edit/{{current_user.id}}" method="POST" class="form form-class" enctype="multipart/form-data">
          <small>First Name : <input type="text" class="form-control"value="{{current_user.firstName}}" name="firstname"></small><br>
          Last Name : <input type="text" class="form-control"value="{{current_user.lastName}}" name="lastname"><br>
          Username : <input type="text" class="form-control"value="{{current_user.username}}" name="username"><br>
          Email : <input type="email" class="form-control"value="{{current_user.email}}" name="email"><br>
          About : <input type="text" class="form-control"value="{{current_user.about_me}}" name="about_me"><br>
          <input class="form-control" type="text" name="location" placeholder="Location" value="{{current_user.location}}"><br>

          <label class="btn btn-default btn-file">
            Profile Picture <input type="file" name="file"  class="form-control" style="display: none;"><br>
        </label><br>
          <input type="submit" value="Save" class="form-control" >
      </form>
    </div>
    </div>
    
  </div>
</div>


               </div>
            </div>
            <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">
               <div class="box-title border-bottom p-3">
                  <h6 class="m-0">My Awards</h6>
               </div>
               <div class="d-flex text-center">
                  <p>AWARDS</p> 
               </div>
            </div>
           
         </aside>
        
         <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
            <div class="box shadow-sm border rounded bg-white mb-3">
               <div class="border-bottom p-3">
                  <h6 class="font-weight-bold m-0">Activity Leaderboard</h6>
               </div>
               <div class="box-body p-3">
                  <!-- for each friend-->
                  {% for user in friends %}
  {% set users = User.query.filter_by(username=user).first() %}
  {% if (users != '') and (users != None) %}
                  <div class="d-flex align-items-center post-header mb-3 people-list">
                     <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="img/p8.png" alt="">
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold mr-2">
                        <div class="text-truncate">{{ users.firstName }} {{ users.lastName }}</div>
                        <div class="small text-gray-500">0 Calories</div>
                     </div>
                     <span class="ml-auto"><button type="button" class="btn btn-light btn-sm"><i class="feather-user-plus"></i></button>
                     </span>
                  </div>
                  {% endif %}
{% else %}
<div class="text-truncate">No Friends</div>
{% endfor %}

                  <!-- friends -->
                  
               </div>
            </div>
            <div class="box shadow-sm border rounded bg-white mb-3">
               <div class="border-bottom p-3 d-flex align-items-center">
                  <div class="mr-1 overflow-hidden">
                  <h6 class="font-weight-bold m-0">Friend Requests</h6>
                  </div>
                  <a class="ml-auto" href="#">See All <i class="feather-chevron-right"></i></a>
               </div>
               <div class="box-body p-3">
                <div class="mr-2">
                {% for req in r %}
                
                  {%set name=User.query.filter_by(username=req.user_from).first().firstname +" "+User.query.filter_by(username=req.user_from).first().lastname%}
                  <div class="text-truncate">{{name}}</div>
                  <div class="small text-gray-500">placeholder</div>
                  <form action="/accept/{{req.id}}" method="POST">
                 
                    <small><button type="Submit" value="Accept" name="acccept" class="btn btn-success btn-sm float-left col-sm-6" style="text-align: center;">Accept </button></small></form>
                    <form action="/reject/{{req.id}}" method="POST"><input type="Submit" value="Reject" name="reject" class="btn btn-danger btn-sm float-right col-sm-6"></form>
                  
                    {% else %}
                    <div class="text-truncate">No Friend Requests</div>
          {% endfor %}
        </div>


               </div>
            </div>
      
           
         </aside>

      </div>
   </div>
</div>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="ca3a609d6d1d668ffac49518-|49" defer=""></script>
{% endblock %}