{% extends 'base.html' %}
{% block body %}

{% extends "nav.html" %}

<main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

   <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3 font-weight-bold">Search results</h5>
      <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="p-3">
               <div class="row">
                  {% for users in search %}
                  <div class="col-md-4">
                        <div class="border network-item rounded mb-3">
                           <a href="/user/{{users.username}}">
                           <div class="p-3 d-flex align-items-center network-item-header">
                              <div class="dropdown-list-image mr-3">
                                 <img class="rounded-circle img-profile" src="{{users.profile_pic}}" alt="">
                              </div>
                              <div class="font-weight-bold">
                                 <h6 class="font-weight-bold text-dark mb-0">{{ users.firstName }} {{ users.lastName }}</h6>
                                 <div class="small text-black-50">{{ users.username }} </div>
                                 <div class="small text-black-50">{{ users.bio }} </div>
                              </div>
                           </div>
                           </a>
                           <div class="d-flex align-items-center p-3 border-top border-bottom network-item-body">
                              <span class="font-weight-bold small text-primary">0 mutual connections</span>
                           </div>
                           {% if current_user.username != users.username %}
                           <div class="network-item-footer py-3 d-flex text-center">
                              <div class="col-6 pl-3 pr-1">
                                 <form action="/addfriend/{{users.username}}" method="POST"></form>
                                 <button type="button" class="btn btn-primary btn-sm btn-block"> Connect </button>
                                 </form>
                              </div>
                           </div>
                        </div>
                  </div>
                  {% endif %}

                  {% else %}
Sorry user was not found
{% endfor %}


               </div>
            </div>
         </div>
      </div>
</main>



{% endblock %}