{% extends "base.html" %}
{% block head %}
<title>{{user.firstName}}'s Profile</title>
{% endblock %}
{% block body %}

{% if user.isprivate == 1 %}
{% set priv = 1 %}
{% else %}
{% set priv = 0 %}
{% endif %}
{% set a=user %}

{% include "includes/nav.html" %}

<div class="py-4">
   <div class="container">
      <div class="row">
         <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <h1 class="pl-3 pt-3 pr-3 mb-0 pb-3  border-bottom font-weight-bold text-left">{{user.firstName}}'s Feed</h1>
  <!--testing new user newsfeed-->
 {% if (posts != NULL) or (posts != "") %}
  {% for post in posts %}
  <div class="box mb-3 shadow-sm border rounded bg-white">
     <div class="p-3 d-flex align-items-center border-bottom">
        <div class="dropdown-list-image mr-3">
           <img class="rounded-circle" src="{{post.author.profile_pic}}" alt="">
        </div>
        <div class="font-weight-bold">
           <div class="text-truncate">{{post.author}}</div>
           <div class="small text-gray-500">@{{post.username}}</div>
        </div>
        <span class="ml-auto small">Posted On {{post.date}}</span>
     </div>
     <div class="p-3 border-bottom">
      {% if "media" in post.content %}
      {% set media1 = post.content.split(',') %}
      {% if media1[2] %}
      <p>
        <embed src="{{media1[1]}}" width="100%" height="100%"><br>
        <b>{{media1[2]}}</b></p>
        {% else %}
      <p><embed src="{{media1[1]}}" width="100%" height="100%"><br></p>
        {% endif %}
      {% else %}
        <p>
          <b>{{post.content}}</b>
          </p>
        {% endif %}
      </div>

                     
   {% set comment1 = comment.query.filter_by(pid=post.id).all()  %}
   {% for comments in comment1 %}
   <div class="p-3 d-flex align-items-top border-bottom post-comment">
      <div class="font-weight-bold comments" id="exp{{post.id}}">
 
         <div class="text-truncate">{{comments.username}} <span class="float-right small">{{comments.time}}</span></div>
         <div class="small text-gray-500">{{comments.text}}</div>
         {% if current_user.username == comments.username %}
         <small><a href="/home/del_comment/{{comments.id}}" style="color: red;">Delete</a></small>

      </div>
   </div>
   {% endif %}<br>
   {% endfor %}
   <div class="p-3">
      <form action="/home/new_comment/{{post.id}}" method="POST">
         <textarea type="text" name="comment" placeholder="Add a Comment..." class="form-control border-0 p-0 shadow-none" rows="1"></textarea>
         <input type="submit" value="Post Comment" class="btn btn-success">
      </form>
   </div>
      
  </div>
  {% else %}
                <h4 class="pl-3 pt-3 pr-3 mb-0 pb-3 font-weight-bold animate__animated animate__hinge animate__delay-1s">Doesn't seem that {{user.firstName}} has posted anything yet</h4>
  {% endfor %}
  {% endif %}

    <!--end testing-->
         </main>
         <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
               <div class="py-4 px-3 border-bottom">
                  <img src="{{user.profile_pic}}" class="img-fluid mt-2 rounded-circle" alt="Responsive image">
                  <h3 class="font-weight-bold text-dark mb-1 mt-4">{{user.firstName}} {{user.lastName}}</h3>
                  <h6 class="mb-0 text-muted">@{{user.username}}</h6>
                  <p class="mb-0 text-muted">{{user.about_me}}</p>
                  <p class="mb-0 text-muted">{{user.location}}</p>
               </div>
               <div class="overflow-hidden border-top">
                <div class="p-3">
                  <form action="/chat" method="POST">
                    <input name="rec-id" value="{{ user.id }}" style="display:none">
                    <button name="sbmt" type="submit" class="btn btn-outline-primary pl-4 pr-4"><i class="fa fa-paper-plane" aria-hidden="true"></i> Message {{user.firstName}}</button>
                  </form>
               </div>
               </div>
            </div>

         </aside>
         <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
            <div class="box shadow-sm border rounded bg-white mb-3">
               <div class="border-bottom p-3">
                  <h6 class="font-weight-bold m-0">{{user.firstName}}'s Friends List</h6>
               </div>
               <div class="box-body p-3">
                  <!-- for each friend-->
                  {% for user in friends %}
  {% set users = User.query.filter_by(username=user).first() %}
  {% if (users != '') and (users != None) %}
                  <div class="d-flex align-items-center post-header mb-3 people-list">
                     <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="img/p8.png" alt="">
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold mr-2">
                        <div class="text-truncate">{{ users.firstName }} {{ users.lastName }}</div>
                        <div class="small text-gray-500">0 Calories</div>
                     </div>
                     <span class="ml-auto"><button type="button" class="btn btn-light btn-sm"><i class="feather-user-plus"></i></button>
                     </span>
                  </div>
                  {% endif %}
{% else %}
<div class="text-truncate">{{ user.firstName}} has no Friends</div>
{% endfor %}

                  <!-- friends -->
                  
               </div>
            </div>
      
           
         </aside>
      </div>
   </div>
</div>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="ca3a609d6d1d668ffac49518-|49" defer=""></script>
{% endblock %}