{% extends "base.html" %}
{% block head %}
<title>Youtube Search</title>
{% endblock %}
{% block body %}

<script src="{{ url_for('static', filename='js/youtubescript.js') }}"></script>


    <head>
        <title>Youtube Video Search</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <br>
                <h1>Youtube Search</h1>
                <br>

            <form id="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="search">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Search">
                </div>
            </form>

            <div class="row">
                <div class="col-md-12">
                    <div id="videos">

                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="youtubescript.js"></script>
    
    
    {% endblock %}
