{% extends "base.html" %}
{% block head %}
<title>Workout Zone</title>
{% endblock head %}
{% block body %}

{% include "includes/nav.html" %}

<head>
    <title>WorkoutZone</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <br>
        <h1 class="pl-3 pt-3 pr-3 mb-0 pb-3 font-weight-bold text-left">Workout Zone</h1>
        <h2 class="pl-3 pt-3 pr-3 mb-0 pb-3 font-weight-bold text-left">Your Recommended Videos</h2>
        <br>
        
        <div class="row">
            <div class="col-md-12">
                <div id="videos">
                    
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/youtubescript.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
